.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.hidden{
    display: none;
}

.oui{
    display: block;
}

.tableau{
    width: 80vw;
}